body {
    background-color:#0D7377;
}
.name-title {
    color:#FEB139;text-align:center;
}
img{
    border-radius: 50%; height: 300px; width: 300px; display:block; margin-left: auto; margin-right: auto;
}
h3{
    color: #FEB139;
}
 li{
    color:#FEB139;
}
p{
    color:#FEB139;
}